In [3]:
x = 3
y = 4.5
z= "Hello"
print (type(y))
print (type(x))
print (type(z))

<class 'float'>
<class 'int'>
<class 'str'>

In [5]:
x = 3
y = 10
print ((x+y)+(x+y))

26

In [11]:
x = 3
y = 10
print ((y-x)*4)

print ((y-x)+(y-x)+(y-x)+(y-x))

result = 28
print (result)

28
28
28

In [15]:
name = "Alena"
DOB = "15.01.1982"
email = "email@email.com"
print (name, DOB, email)

Alena 15.01.1982 email@email.com

In [18]:
H_wage = 5
H_amount =40
gross_pay = (H_wage * H_amount)
print (gross_pay)
gross_pay_netto = ((H_wage * H_amount)*0.77)
print (gross_pay_netto)

200
154.0

In [32]:
loanAtStart= 1000
interest1 = (1000 * (0.021/12)+100)
month1 = loanAtStart + interest1
interest2 = (month1 * (0.021/12)+100)
month2 = month1 + interest2
interest3 = (month2 * (0.021/12)+100)
month3 = month2 + interest3
interest4 = (month3 * (0.021/12)+100)
month4 = month3 + interest4
interest5 = (month4 * (0.021/12)+100)
month5 = month4 + interest5
interest6 = (month5 * (0.021/12)+100)
month6 = month5 + interest6
interest7 = (month6 * (0.021/12)+100)
month7 = month6 + interest7
interest8 = (month7 * (0.021/12)+100)
month8 = month7 + interest8
interest9 = (month8 * (0.021/12)+100)
month9 = month8 + interest9
interest10 = (month9 * (0.021/12)+100)
month10 = month9 + interest10
interest11 = (month10 * (0.021/12)+100)
month11 = month10 + interest11
interest12 = (month11 * (0.021/12)+100)
month12 = month11 + interest12
interest13 = (month12 * (0.021/12)+100)
month13 = month12 + interest13
interest14 = (month13 * (0.021/12)+100)
month14 = month13 + interest14
interest15 = (month14 * (0.021/12)+100)
month15 = month14 + interest15
interest16 = (month15 * (0.021/12)+100)
month16 = month15 + interest16
interest17 = (month16 * (0.021/12)+100)
month17 = month16 + interest17
interest18 = (month17 * (0.021/12)+100)
month18 = month17 + interest18
interest19 = (month18 * (0.021/12)+100)
month19 = month18 + interest19
interest20 = (month19 * (0.021/12)+100)
month20 = month19 + interest20
interest21 = (month20 * (0.021/12)+100)
month21 = month20 + interest21
interest22 = (month21 * (0.021/12)+100)
month22 = month21 + interest22
interest23 = (month22 * (0.021/12)+100)
month23 = month22 + interest23
interest24 = (month23 * (0.021/12)+100)
month24 = (month23 + interest24)


print (month24)

3491.781782694653