In [ ]:
##tu pisem moje ulohy AB. 
Read the provided text file and only print the third line.

In [ ]:
with open('textalena1.txt', 'r', encoding='utf-8') as file:
    content = file.read()
    print(content)

Cesto pomúčenými rukami našponujeme, vrátime naspäť do misky,
prikryjeme utierkou a necháme na teplom mieste aspoň hodinu kysnúť,
kým zdvojnásobí objem. Potom ho na pomúčenej doske rukami krátko
prehnietime a rozvaľkáme na tenko do tvaru obdĺžnika, ktorý rozrežeme
 na 12 štvorcov.  Do stredu každého pridáme lyžicu slivkového lekváru.
 Dôkladne zabalíme, aby plnka nevytiekla a opatrne vytvarujeme buchty.
Uložíme ich tesne vedľa seba do maslom vymazanej formy a pod utierkou
necháme na teplom mieste podkysnúť ešte 30 minút. Buchty pečieme v rúre
vyhriatej na 180 °C asi 20 minút. Do zlatista upečené buchty ešte horúce
potrieme zmesou tuzemáku a roztopeného masla a necháme vo forme vychladnúť.
kým zdvojnásobí objem. Potom ho na pomúčenej doske rukami krátko

In [22]:
 lines=content.split('\n')
 for lines in (content):
    print(lines)

C
e
s
t
o

p
o
m
ú
č
e
n
ý
m
i

r
u
k
a
m
i

n
a
š
p
o
n
u
j
e
m
e
,

v
r
á
t
i
m
e

n
a
s
p
ä
ť

d
o

m
i
s
k
y
,



p
r
i
k
r
y
j
e
m
e

u
t
i
e
r
k
o
u

a

n
e
c
h
á
m
e

n
a

t
e
p
l
o
m

m
i
e
s
t
e

a
s
p
o
ň

h
o
d
i
n
u

k
y
s
n
ú
ť
,



k
ý
m

z
d
v
o
j
n
á
s
o
b
í

o
b
j
e
m
.

P
o
t
o
m

h
o

n
a

p
o
m
ú
č
e
n
e
j

d
o
s
k
e

r
u
k
a
m
i

k
r
á
t
k
o



p
r
e
h
n
i
e
t
i
m
e

a

r
o
z
v
a
ľ
k
á
m
e

n
a

t
e
n
k
o

d
o

t
v
a
r
u

o
b
d
ĺ
ž
n
i
k
a
,

k
t
o
r
ý

r
o
z
r
e
ž
e
m
e



n
a

1
2

š
t
v
o
r
c
o
v
.


D
o

s
t
r
e
d
u

k
a
ž
d
é
h
o

p
r
i
d
á
m
e

l
y
ž
i
c
u

s
l
i
v
k
o
v
é
h
o

l
e
k
v
á
r
u
.



D
ô
k
l
a
d
n
e

z
a
b
a
l
í
m
e
,

a
b
y

p
l
n
k
a

n
e
v
y
t
i
e
k
l
a

a

o
p
a
t
r
n
e

v
y
t
v
a
r
u
j
e
m
e

b
u
c
h
t
y
.



U
l
o
ž
í
m
e

i
c
h

t
e
s
n
e

v
e
d
ľ
a

s
e
b
a

d
o

m
a
s
l
o
m

v
y
m
a
z
a
n
e
j

f
o
r
m
y

a

p
o
d

u
t
i
e
r
k
o
u



n
e
c
h
á
m
e

n
a

t
e
p
l
o
m

m
i
e
s
t
e

p
o
d
k
y
s
n
ú
ť

e
š
t
e

3
0

m
i
n
ú
t
.

B
u
c
h
t
y

p
e
č
i
e
m
e

v

r
ú
r
e



v
y
h
r
i
a
t
e
j

n
a

1
8
0

°
C

a
s
i

2
0

m
i
n
ú
t
.

D
o

z
l
a
t
i
s
t
a

u
p
e
č
e
n
é

b
u
c
h
t
y

e
š
t
e

h
o
r
ú
c
e



p
o
t
r
i
e
m
e

z
m
e
s
o
u

t
u
z
e
m
á
k
u

a

r
o
z
t
o
p
e
n
é
h
o

m
a
s
l
a

a

n
e
c
h
á
m
e

v
o

f
o
r
m
e

v
y
c
h
l
a
d
n
ú
ť
.

In [10]:
##Prečítajte poskytnutý súbor CSV a vytlačte prvú hodnotu v každom riadku.

In [23]:
with open('csvsamplenew.csv', 'r') as file:
    content = file.read()
    print(content)

Date,Type,Item,Quantity,Unit Price ($),Notes
2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery
2025-11-01,Sale,Bread,25,4.99,Morning rush sales
2025-11-01,Sale,Milk,30,3.99,
2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment
2025-11-02,Sale,Bread,30,4.99,
2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen"
2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill
2025-11-03,Sale,Milk,35,3.99,
2025-11-03,Sale,Bread,20,4.99,
2025-11-04,Purchase,Egg,200,0.25,Weekly crate order
2025-11-04,Sale,Apple,50,0.60,
2025-11-04,Sale,Egg,55,0.40,
2025-11-05,Sale,Milk,45,3.99,Afternoon traffic
2025-11-05,Sale,Apple,60,0.60,
2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply
2025-11-06,Sale,Bread,40,4.99,
2025-11-06,Sale,Egg,65,0.40,
2025-11-06,Purchase,Apple,100,0.30,Small local grower batch
2025-11-07,Sale,Milk,50,3.99,End-of-week demand
2025-11-07,Sale,Apple,75,0.60,

In [31]:
import csv

In [47]:
with open('csvsamplenew.csv', 'r') as file:
    reader = csv.reader(file)    
    
    for row in reader:
        print(row)

['Date', 'Type', 'Item', 'Quantity', 'Unit Price ($)', 'Notes']
['2025-11-01', 'Purchase', 'Bread', '100', '2.50', 'Standard supplier delivery']
['2025-11-01', 'Sale', 'Bread', '25', '4.99', 'Morning rush sales']
['2025-11-01', 'Sale', 'Milk', '30', '3.99', '']
['2025-11-02', 'Purchase', 'Milk', '120', '2.80', 'Dairy farm shipment']
['2025-11-02', 'Sale', 'Bread', '30', '4.99', '']
['2025-11-02', 'Sale', 'Egg', '40', '0.40', 'Sold by unit, not dozen']
['2025-11-03', 'Purchase', 'Apple', '300', '0.30', 'Seasonal stock refill']
['2025-11-03', 'Sale', 'Milk', '35', '3.99', '']
['2025-11-03', 'Sale', 'Bread', '20', '4.99', '']
['2025-11-04', 'Purchase', 'Egg', '200', '0.25', 'Weekly crate order']
['2025-11-04', 'Sale', 'Apple', '50', '0.60', '']
['2025-11-04', 'Sale', 'Egg', '55', '0.40', '']
['2025-11-05', 'Sale', 'Milk', '45', '3.99', 'Afternoon traffic']
['2025-11-05', 'Sale', 'Apple', '60', '0.60', '']
['2025-11-05', 'Purchase', 'Bread', '150', '2.50', 'Urgent mid-week resupply']
['2025-11-06', 'Sale', 'Bread', '40', '4.99', '']
['2025-11-06', 'Sale', 'Egg', '65', '0.40', '']
['2025-11-06', 'Purchase', 'Apple', '100', '0.30', 'Small local grower batch']
['2025-11-07', 'Sale', 'Milk', '50', '3.99', 'End-of-week demand']
['2025-11-07', 'Sale', 'Apple', '75', '0.60', '']

In [48]:
import pandas as pd

In [51]:
df = pd.read_csv('csvsamplenew.csv')
df

,Date,Type,Item,Quantity,Unit Price ($),Notes
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales
2,2025-11-01,Sale,Milk,30,3.99,NaN
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment
4,2025-11-02,Sale,Bread,30,4.99,NaN
5,2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen"
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill
7,2025-11-03,Sale,Milk,35,3.99,NaN
8,2025-11-03,Sale,Bread,20,4.99,NaN
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order
10,2025-11-04,Sale,Apple,50,0.60,NaN
11,2025-11-04,Sale,Egg,55,0.40,NaN
12,2025-11-05,Sale,Milk,45,3.99,Afternoon traffic
13,2025-11-05,Sale,Apple,60,0.60,NaN
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply
15,2025-11-06,Sale,Bread,40,4.99,NaN
16,2025-11-06,Sale,Egg,65,0.40,NaN
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand
19,2025-11-07,Sale,Apple,75,0.60,NaN

In [53]:
df.tail(2)

          Date  Type   Item  Quantity  Unit Price ($)               Notes
18  2025-11-07  Sale   Milk        50            3.99  End-of-week demand
19  2025-11-07  Sale  Apple        75            0.60                 NaN

In [57]:
print(df['Item'])

0     Bread
1     Bread
2      Milk
3      Milk
4     Bread
5       Egg
6     Apple
7      Milk
8     Bread
9       Egg
10    Apple
11      Egg
12     Milk
13    Apple
14    Bread
15    Bread
16      Egg
17    Apple
18     Milk
19    Apple
Name: Item, dtype: object

In [58]:
type(df['Item'])

pandas.core.series.Series

In [59]:
for item in df['Item']:
    print(item)

Bread
Bread
Milk
Milk
Bread
Egg
Apple
Milk
Bread
Egg
Apple
Egg
Milk
Apple
Bread
Bread
Egg
Apple
Milk
Apple

In [61]:
milk = df[df['Item'] == 'Milk']
print(milk)

          Date      Type  Item  Quantity  Unit Price ($)                Notes
2   2025-11-01      Sale  Milk        30            3.99                  NaN
3   2025-11-02  Purchase  Milk       120            2.80  Dairy farm shipment
7   2025-11-03      Sale  Milk        35            3.99                  NaN
12  2025-11-05      Sale  Milk        45            3.99    Afternoon traffic
18  2025-11-07      Sale  Milk        50            3.99   End-of-week demand

In [63]:
goatsmilk = df[(df['Item'] == 'Milk') & (df['Unit Price ($)'] == 3.99)]
print(goatsmilk)

          Date  Type  Item  Quantity  Unit Price ($)               Notes
2   2025-11-01  Sale  Milk        30            3.99                 NaN
7   2025-11-03  Sale  Milk        35            3.99                 NaN
12  2025-11-05  Sale  Milk        45            3.99   Afternoon traffic
18  2025-11-07  Sale  Milk        50            3.99  End-of-week demand

In [65]:
pennyitems = df[(df['Unit Price ($)']< 1)]
print(pennyitems)

          Date      Type   Item  Quantity  Unit Price ($)  \
5   2025-11-02      Sale    Egg        40            0.40
6   2025-11-03  Purchase  Apple       300            0.30
9   2025-11-04  Purchase    Egg       200            0.25
10  2025-11-04      Sale  Apple        50            0.60
11  2025-11-04      Sale    Egg        55            0.40
13  2025-11-05      Sale  Apple        60            0.60
16  2025-11-06      Sale    Egg        65            0.40
17  2025-11-06  Purchase  Apple       100            0.30
19  2025-11-07      Sale  Apple        75            0.60

                       Notes
5    Sold by unit, not dozen
6      Seasonal stock refill
9         Weekly crate order
10                       NaN
11                       NaN
13                       NaN
16                       NaN
17  Small local grower batch
19                       NaN

In [66]:
df['Celkova cena'] = df['Quantity'] * df['Unit Price ($)']
df

,Date,Type,Item,Quantity,Unit Price ($),Notes,Celkova cena
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery,250.00
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales,124.75
2,2025-11-01,Sale,Milk,30,3.99,NaN,119.70
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment,336.00
4,2025-11-02,Sale,Bread,30,4.99,NaN,149.70
5,2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen",16.00
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill,90.00
7,2025-11-03,Sale,Milk,35,3.99,NaN,139.65
8,2025-11-03,Sale,Bread,20,4.99,NaN,99.80
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order,50.00
10,2025-11-04,Sale,Apple,50,0.60,NaN,30.00
11,2025-11-04,Sale,Egg,55,0.40,NaN,22.00
12,2025-11-05,Sale,Milk,45,3.99,Afternoon traffic,179.55
13,2025-11-05,Sale,Apple,60,0.60,NaN,36.00
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply,375.00
15,2025-11-06,Sale,Bread,40,4.99,NaN,199.60
16,2025-11-06,Sale,Egg,65,0.40,NaN,26.00
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch,30.00
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand,199.50
19,2025-11-07,Sale,Apple,75,0.60,NaN,45.00

In [70]:
print(df['Celkova cena'].sum())
print(df['Celkova cena'].mean())

2518.25
125.9125

In [76]:
cohojenajviac = df.groupby('Item')['Unit Price ($)'].mean()
cohojenajviac

Item
Apple    0.4800
Bread    4.1600
Egg      0.3625
Milk     3.7520
Name: Unit Price ($), dtype: float64

In [89]:
sale = df[df['Type'] == 'Sale']
print(sale)
grouping = df.groupby('Item')['Quantity'].sum()
print(grouping)

          Date  Type   Item  Quantity  Unit Price ($)  \
1   2025-11-01  Sale  Bread        25            4.99
2   2025-11-01  Sale   Milk        30            3.99
4   2025-11-02  Sale  Bread        30            4.99
5   2025-11-02  Sale    Egg        40            0.40
7   2025-11-03  Sale   Milk        35            3.99
8   2025-11-03  Sale  Bread        20            4.99
10  2025-11-04  Sale  Apple        50            0.60
11  2025-11-04  Sale    Egg        55            0.40
12  2025-11-05  Sale   Milk        45            3.99
13  2025-11-05  Sale  Apple        60            0.60
15  2025-11-06  Sale  Bread        40            4.99
16  2025-11-06  Sale    Egg        65            0.40
18  2025-11-07  Sale   Milk        50            3.99
19  2025-11-07  Sale  Apple        75            0.60

                      Notes  Celkova cena
1        Morning rush sales        124.75
2                       NaN        119.70
4                       NaN        149.70
5   Sold by unit, not dozen         16.00
7                       NaN        139.65
8                       NaN         99.80
10                      NaN         30.00
11                      NaN         22.00
12        Afternoon traffic        179.55
13                      NaN         36.00
15                      NaN        199.60
16                      NaN         26.00
18       End-of-week demand        199.50
19                      NaN         45.00
Item
Apple    585
Bread    365
Egg      360
Milk     280
Name: Quantity, dtype: int64

In [90]:
sale = df[df['Type'] == 'Sale']
print(sale)
grouping = sale.groupby('Item')['Quantity'].sum()
print(grouping)

          Date  Type   Item  Quantity  Unit Price ($)  \
1   2025-11-01  Sale  Bread        25            4.99
2   2025-11-01  Sale   Milk        30            3.99
4   2025-11-02  Sale  Bread        30            4.99
5   2025-11-02  Sale    Egg        40            0.40
7   2025-11-03  Sale   Milk        35            3.99
8   2025-11-03  Sale  Bread        20            4.99
10  2025-11-04  Sale  Apple        50            0.60
11  2025-11-04  Sale    Egg        55            0.40
12  2025-11-05  Sale   Milk        45            3.99
13  2025-11-05  Sale  Apple        60            0.60
15  2025-11-06  Sale  Bread        40            4.99
16  2025-11-06  Sale    Egg        65            0.40
18  2025-11-07  Sale   Milk        50            3.99
19  2025-11-07  Sale  Apple        75            0.60

                      Notes  Celkova cena
1        Morning rush sales        124.75
2                       NaN        119.70
4                       NaN        149.70
5   Sold by unit, not dozen         16.00
7                       NaN        139.65
8                       NaN         99.80
10                      NaN         30.00
11                      NaN         22.00
12        Afternoon traffic        179.55
13                      NaN         36.00
15                      NaN        199.60
16                      NaN         26.00
18       End-of-week demand        199.50
19                      NaN         45.00
Item
Apple    185
Bread    115
Egg      160
Milk     160
Name: Quantity, dtype: int64